<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta charset="UTF-8" />
        <title>Home</title>
    </h:head>
    <h:body>
        <h:form>
            <p>
                <h:commandLink action="listaCategorias">
                    <h:outputText value="Listar Categorias"/>
                </h:commandLink>
            </p>
            <p>
                <h:commandLink action="">
                    <h:outputText value="Cadastrar Nova Categoria"/>
                </h:commandLink>
            </p>
        </h:form>
    </h:body>
</html>

