<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta charset="UTF-8" />
        <title>Registro de Task</title>
        <h:outputStylesheet library="css" name="estilosAplicacao.css" />
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="2" columnClasses="colunaEsquerda, colunaDireita"
                         rowClasses="normal" headerClass="tituloFormulario"
                         styleClass="tabelaGC">
                <f:facet name="header">
                    <h:outputText value="Cadastro de categoria"/>
                </f:facet>
                <h:outputLabel for="cId" value="ID"/>
                <h:panelGroup>
                    <h:inputText id="cId" value="#{categoriaMB.categoria.id}"
                                 disabled="true" maxlength="5" size="5"/>
                    <h:outputLabel for="cAtivo" value="Ativo"/>
                    <h:selectBooleanCheckbox id="cAtivo"
                                             value="#{categoriaMB.categoria.ativo}"/>
                </h:panelGroup>
                <h:outputLabel for="cDescricao" value="Descricao"/>
                <h:inputText id="cDescricao" value="#{categoriaMB.categoria.descricao}"
                             size="40"/>
                <h:outputText value=""/>
                <h:commandButton value="Salvar" action="#{categoriaMB.salvar}"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>